@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.fraction-place{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merienda', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333333;
}

.int-part{
    font-size: 4rem;
}

.fraction-part{
    padding: .5rem;
}

.fraction-bar{
    border-bottom: #333333 2px solid;
}

.answer-area{
    margin: 1rem auto 2rem;
}