#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

#container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quest-content h1{
  font-size: 1.5rem;
}

.score{
  position: fixed;
  top: 5%;
  font-family: 'Merienda', cursive;
}

@media screen and (min-width: 800px){
  
  #container{
    display: grid;
    grid-template-columns: 300px repeat(1, 1fr);
    grid-template-areas: 
    "navbar main"
    ;
  }

    .score{
      font-size: 2rem;
      top: 10%;
      right: 10%;
  }

  .quest-content h1{
    font-size: 2.5rem;
  }
 
  
}
